version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile_test
    container_name: pdf_extractor_container

    working_dir: /app/src
    command: uvicorn main_local_save:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app/src

    ports:
      - "8000:8000"

    volumes:
      - ./data:/app/data
      - ./src:/app/src

    environment:
      - OPEN_ROUTER_KEY=${OPEN_ROUTER_KEY}
      - MODEL=${MODEL}
      - OUTPUT_DIR=/app/data
      - WATCHFILES_FORCE_POLLING=true
      - PYTHONDONTWRITEBYTECODE=1

    restart: always
