name: Deploy FastAPI to Azure

on:
  push:
    branches: [ "release" ]

env:
  ACR_NAME: boxy0container
  IMAGE_NAME: fastapi
  APP_NAME: boxy-fast-api
  RESOURCE_GROUP: boxy-demo-sg

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name $ACR_NAME

    - name: Build and Push Docker Image
      run: |
        docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:latest .
        docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:latest

    - name: Update App Service Container Image
      run: |
        az webapp config container set \
          --name $APP_NAME \
          --resource-group $RESOURCE_GROUP \
          --docker-custom-image-name $ACR_NAME.azurecr.io/$IMAGE_NAME:latest

    - name: Restart App Service
      run: |
        az webapp restart \
          --name $APP_NAME \
          --resource-group $RESOURCE_GROUP
